/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/back.jpeg');
  background-position: center;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}